<!--
  Sets a GPS reference from measurements,
  publishes it and saves it to a file
  Allows also for loading of an old GPS reference
-->
<launch>

  <arg name="autoset_geo_reference" default="true"/>
  <arg name="gps_reference_output_directory" default="/tmp"/>

  <arg name="global_rtk_position_topic" default="global_rtk_position"/>

  <arg name="rtk_reference_geopoint_topic" default="gps_reference"/>
  <arg name="load_gps_reference_service_name" default="load_gps_reference"/>

  <node name="gps_reference" pkg="gps_to_local_euclidean" type="gps_reference.py" respawn="true" output="screen">
    <param name="autoset_geo_reference" type="bool" value="$(arg autoset_geo_reference)" />
    <param name="gps_reference_output_directory" type="str" value="$(arg gps_reference_output_directory)" />

    <remap from="global_rtk_position" to="$(arg global_rtk_position_topic)"/>

    <remap from="rtk_reference_geopoint" to="$(arg rtk_reference_geopoint_topic)"/>
    <remap from="load_gps_reference" to="$(arg load_gps_reference_service_name)" />
  </node>
</launch>
